@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar hidden */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

@layer components {
  .hide_icon {
    @apply max-lg:hidden;
  }
  
  .btn {
    @apply inline-flex items-center cursor-pointer justify-center w-full px-5 py-3 text-sm font-medium text-center  rounded sm:w-auto  bg-[#dcdcdc] hover:bg-[#bdbdbd] transition duration-200 outline-none;
  }
  .dark_text {
    @apply text-[#121212];
  }
  .light_text {
    @apply text-[#fffffa];
  }

  .dark_bg {
    @apply bg-[#121212] text-[#fffffa];
  }
  .light_bg {
    @apply bg-[#fffffa] text-[#121212];
  }
  .dark_footer {
    @apply bg-[#18191a] text-[#efefef];
  }
  .light_footer {
    @apply bg-[#eeeeee] text-[#292929];
  }
  .sub_text_dark {
    @apply text-[#292929];
  }
  .sub_text_light {
    @apply text-[#dcdcdc];
  }
}
