@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar hidden */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

@layer components {
  .btn {
    @apply inline-flex items-center cursor-pointer justify-center w-full px-5 py-3 text-sm font-medium text-center  rounded sm:w-auto  bg-[#bdbdbd] hover:bg-[#989898] transition duration-200 outline-none;
  }
  .dark_text {
    @apply text-[#252626];
  }
  .light_text {
    @apply text-[#FFFFFF];
  }

  .dark_bg {
    @apply bg-[#252626] text-[#FFFFFF];
  }
  .light_bg {
    @apply bg-[#FFFFFF] text-[#252626];
  }
  .dark_footer {
    @apply bg-[#3d3d3d] text-[#FFFFFF];
  }
  .light_footer {
    @apply bg-[#efefef] text-[#3d3d3d];
  }
  .sub_text_dark {
    @apply text-[#292929];
  }
  .sub_text_light {
    @apply text-[#dcdcdc];
  }
}
